body, html {margin: 0; padding: 0;}

.navbar-item:hover {border-bottom: 1px solid deepskyblue; transition: 0.5s;}
.navbar-end a:hover {background-color: black !important; transition: 0.5s;}
#des_bulma:hover {color: deepskyblue !important; transition: 0.5s;}

#meine_geschichte:hover {color: #edbf42 !important; text-decoration: underline; transition: 0.5s;}
#social_media:hover {color: #edbf42 !important; text-decoration: underline; transition: 0.5s;}

#li_schulzeit:hover {background-color: #171717; color: white; transition: 0.5s;} 
#li_bmw:hover {background-color: #171717; color: white; transition: 0.5s;}
#li_vfj:hover {background-color: #171717; color: white; transition: 0.5s;}
#li_lm:hover {background-color: #171717; color: white; transition: 0.5s;}

#btn_hkh:hover {background-color: #edbf42; color: black !important; transition: 0.5s;}
#btn_hl:hover {background-color: #edbf42; color: black !important; transition: 0.5s;}

#hulong_text {text-align: center;}
#sm_icons {text-align: center;}
#insta, #discord, #github {display: inline-block; margin-left: auto; margin-right: auto;}

#insta:hover, #discord:hover, #github:hover {transform: scale(1.1); transition: 0.5s;}

#favicon {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #121212;
  vertical-align: middle;
}

#freepik_link {color: #ba9636;}
#flaticon_link {color: #ba9636;}
#freepik_link:hover {color: #edbf42; transition: 0.5s;}
#flaticon_link:hover {color: #edbf42; transition: 0.5s;}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #1a1a1a;
    vertical-align: middle;
  }

  @media only screen and (max-width: 778px) {
    #insta, #discord, #github {width: 8%; height: auto;}
    #hulong {width: 12%; height: auto;}
  }